<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="http://dayrell.me">Alpha Blog</a>
            by <a href="http://www.dayrell.me">Fábio Dayrell</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>